* {
    box-sizing: border-box;
}

body {
    background-color: azure;
    min-width: 750px;
    font-family: "Inter", sans-serif; 
    margin: 0px;
}

.container {
    display: flex;
    flex-direction: column;
    
}

header {
    display: flex;
    position: sticky;
    top: 0px;
    left: 0px;
    box-shadow: 0 0 15px 2px black;
    background-color: azure;
}

h1 {
    color: darkcyan;
    font-size: 50px;
    padding-left: 5%;
}

nav {
    align-self: center;
    padding-right: 5%;
}

nav ul {
    list-style: none;
    display: flex;
    column-gap: 3%;
    justify-content: right;
    padding-right: 5%;
    
}

h4 {
    font-size: 30px;
}

article {
    display: flex;
    align-self: center;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}
 
.article-left {
    align-self: center;
    width: 50%;
    padding-left: 5%;
}

.article-right {
    align-self: center;
    width: 50%;
    padding-right: 5%;
}

td, th {
    border:2px solid black;
}

#table1 {
    border-collapse: collapse;
    width: 45%;
}

.tab1leftcolumn {
    text-align: center;
}

.tab1rightcolumn {
    padding-left: 2%;
}

#table2 {
    width: 100px; 
    height: 100px;
    border-collapse: collapse;
}

#return {
    padding-right: 5%;
    text-align: right;
}

footer {
    text-align: center;
    padding-bottom: 1%;
}

